{% extends 'templates/base_email.html' %}

{% block content %}
<table border="0" cellpadding="0" cellspacing="0" style="border-radius: 5px; min-width: 550px;">
  <tr>
    <td>
      <p>An error occured while processing an incoming email.</p>
      <p><b>Error:</b> {{ error }}</p>
      {% if channel_id %}
        <p>
          You may manage your channel's Incoming e-mail address through the
          <a href="{{ base_url }}/channels/{{ channel_id }}">Notifications Portal</a>
          verify you're sending to the correct email address "{{ email_gateway_address }}+&lt;channel-slug&gt;+&lt;level&gt;@cern.ch"
          or open a ticket through the <a href="https://cern.service-now.com/service-portal?id=sc_cat_item&name=incident&se=notifications-service">Service Portal</a>.
        </p>
      {% else %}
        <p>
          Please verify your channels' Incoming e-mail address through the
          <a href="{{ base_url }}/#manage">Notifications Portal</a>,
          verify you're sending to the correct email address "{{ email_gateway_address }}+&lt;channel-slug&gt;+&lt;level&gt;@cern.ch"
          or open a ticket through the <a href="https://cern.service-now.com/service-portal?id=sc_cat_item&name=incident&se=notifications-service">Service Portal</a>.
        </p>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      <hr>
      <p>
        <b>To:</b> {{ to }} </br>
        <b>Subject:</b> {{ subject }}
      </p>
      {% include 'email/notification_body.html' %}
    </td>
  </tr>
</table>
{% endblock %}
