<table border="0" cellpadding="0" cellspacing="0" style="border-radius: 5px; min-width: 550px;">
    <tr>
        <table border="0" cellpadding="0" cellspacing="0"
               style="border-radius: 5px; background: #f9f9f9; min-width: 550px;">
            <tr>
                <td style="padding:10px">
                    <p style="color: #3071AB;"><b>{{ summary }}</b></p>
                </td>
            </tr>
            <tr>
                <td style="padding:10px">
                    <p><b>Header:</b></p>
                    <pre><code>{{ q_headers }}</code></pre>
                </td>
            </tr>
            <tr>
                <td style="padding:10px">
                    <p><b>Message:</b></p>
                    <pre><code>{{ message_body }}</code></pre>
                </td>
            </tr>
        </table>
    </tr>
</table>
