<table border="0" cellpadding="0" cellspacing="0" style="border: 2px solid #d9d9d9; box-shadow: 3px 3px 3px #ddd; min-width:550px">
  <td style="padding:10px 20px 0 20px">
    <p>
      <a style="text-decoration:none" href="{{ link }}">
        <b>
          {% if priority and priority.upper() == notification_priority.IMPORTANT %}
            <span style="color: #FF5144; font-size: 1.5em; vertical-align: middle;">
              &#9888;
            </span>
          {% endif %}
          <span style="color: #3071AB; font-size: 1.2em; vertical-align: middle;">{{ summary }}</span></b>
      </a>
        {% if indico_link %}
          <a style="text-decoration:none" href="{{ indico_link }}" target="_blank" rel="noreferrer">
            <img src="https://notifications.web.cern.ch/assets/indico_calendar.png" alt="indico" width="100" style="float:right;">
          </a>
        {% endif %}
        <br/>
        <span style="color: #aaa;">{{ created_at }}</span>
    </p>
  </td>
  <tr>
    <td style="padding: 0 20px">
      <p>
        {{ message_body|safe }}
      </p>
    </td>
  </tr>
</table>
