{% extends 'templates/base_email.html' %}

{% block content %}
  <table width="100%" style="background:#3071AB; box-shadow: 3px 3px 3px #ddd">
    <tr style="text-align: center;color:white;">
      <td style="padding:10px">
        <a style="text-decoration:none" href="{{ base_url }}/channels/{{channel_id}}/notifications">
          <h3 style="color: white; margin: 0;">
            {{ channel_name }}
          </h3>
        </a>
      </td>
    </tr>
  </table>
  {% include 'email/notification_body.html' %}
{% endblock %}
