<head>
  <style>
    img {
      max-width: 100%;
      height: unset !important;
    }

    #notification-header #title {
      margin-bottom: 0;
      padding: 0;
    }

    #notification-header #subtitle {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="line-height: 1.7; color: #555;">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
          style="max-width: 660px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; background: #ffffff;">
          <tr>
            <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                style="border-collapse: collapse;">
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto">
                      <tr id="notification-header">
                        <td style="padding-top: 10px; color: #395CB4; text-align: center; margin: 0 auto">
                          <h1 id="title" style="font-size: 1.4em;">
                            <img src="https://notifications.web.cern.ch/favicon/favicon-32x32.png"
                              alt="{{ service_name }}" style="height: 20px; vertical-align: middle;">
                            {% if category_name %}
                              {{category_name}} Notifications
                              </h1>
                                <h5 id="subtitle">
                                  POWERED BY {{ service_name }}
                                </h5>
                            {% else %}
                              {{ service_name }}
                              </h1>
                            {% endif %}
                          <br />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {% block content %}{% endblock %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; color: #aaa; font-size: 11px; padding-bottom: 10px;">
              <p style="padding: 10px;">
                This notification has been sent by CERN Notifications. <br />
                <a href="{{ base_url }}/#subscriptions">Manage your subscriptions</a> |
                <a href="{{ base_url }}/#manage">Manage your channels</a>
                {% if unsubscribe_blob %}
                | <a href="{{ base_url }}/unsubscribe/{{ unsubscribe_blob }}/{{ unsubscribe_mail }}">Unsubscribe</a>
                {% endif %}
                <br/>
                If content is not rendering as expected, try on we website by clicking the title.
              </p>
              <p>
                -----------------------------------------------------------------------------------------------------------------
              </p>
              <p>
                This message is intended only for use of {{recipient_email}} and may contain information that is privileged
                  and
                  confidential. If you have received this communication in error, please notify us immediately by
                  opening an incident
                  and deleting this message from your system.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
