{% extends 'templates/base_email.html' %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" style="border-radius: 5px; min-width: 550px; padding: 10px">
        <tr>
            <td>
                <h3 style="text-align : center; font-weight: normal;">{{ title }}</h3>
            </td>
        </tr>

        {% for key, notifications in channel_notifications %}
            <tr>
                <td>
                    <table width="100%">
                        <tr style="background: #3071AB;text-align: center;color:white;">
                            <td style="padding:10px">
                                <a style="text-decoration:none"
                                   href="{{ base_url }}/channels/{{ key[0] }}/notifications">
                                    <h3 style="color: white; margin: 0;">
                                        {{ key[1] }}
                                    </h3>
                                </a>
                            </td>
                        </tr>
                        {% for notification in notifications["notifications"] %}
                            <tr>
                                <td style="padding:10px">
                                    <p><b>{% if notification.priority and notification.priority.upper() ==
                                notification_priority.IMPORTANT %} <span
                                            style="color: #FF5144; font-size: 1.5em; vertical-align: middle;">
                                    &#9888;</span> {% endif %}
                                        <span style="color: #3071AB; font-size: 1.2em; vertical-align: middle;">{{ notification.summary }}</span></b>
                                        <br>
                                        {{ notification.body|trim|truncate(250, True) }}
                                        <a style="text-decoration:none"
                                           href="{{ base_url }}/channels/{{ key[0] }}/notifications/{{ notification.id }}">Read
                                            More</a>
                                        </b>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}

                        {% if notifications["remainder"] > 0 %}
                            <tr>
                                <td style="padding:10px; text-align: center;">
                                    <a href="{{ base_url }}/channels/{{ key[0] }}/notifications">See
                                        {{ notifications["remainder"] }} more notifications</a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
